<!DOCTYPE html><html id="edinburgh-renovations"><head> <title>House renovations Edinburgh - Renovation Group</title> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> <%=metamagic %> <%=stylesheet_link_tag "application", media: "all" %><%=favicon_link_tag image_path('favicon.ico') %> <%=javascript_include_tag "application"%> <meta name="viewport" content="width=device-width, initial-scale=1"> <%=csrf_meta_tags %></head><body><% cache do %> <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> <div class="container"> <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> </div><div class="collapse navbar-collapse" id="navbar-brand-centered"> <ul class="nav navbar-nav"> <div class="navbar-brand"><h1>Renovation Group <span class="glyphicon glyphicon-leaf logo-glyph"></span> </h1></div></ul> <ul class="nav navbar-nav navbar-right"> <li><a href="#edinburgh-renovations">Home</a></li><li><a href="#about-house-renovation-services-edinburgh">About</a></li><li><a href="#house-renovation-for-landlords"><span style="display:none;">House</span>What We Do</a></li><li><a href="#house-renovations-in-edinburgh">Renovations</a></li><li><a href="#cheap-house-renovation">Services</a></li><li><a href="#contact-cheap-house-renovations-edinburgh">Contact</a></li></ul> </div></div></nav>
<%= yield %>
<footer><section class="footer row"><div class="container"><center><h2>Get In Touch</h2></center><div class="row"><div class="col-sm-12 col-md-4"><address>16/2 Ardshiel Avenue<br>EH7 4LL<br>Edinburgh</address></div><div class="col-sm-12 col-md-4 text-center "> <a class="btn btn-social-icon btn-dropbox btn-lg"><i class="fa fa-dropbox"></i></a> <a href="https://www.facebook.com/profile.php?id=100008815906437" target="_blank" class="btn btn-social-icon btn-facebook btn-lg"><i class="fa fa-facebook"></i></a> <a href="https://foursquare.com/user/111876135" target="_blank" class="btn btn-social-icon btn-foursquare btn-lg"><i class="fa fa-foursquare"></i></a> <a href="https://plus.google.com/114647574831121467200" target="_blank" class="btn btn-social-icon btn-google-plus btn-lg"><i class="fa fa-google-plus"></i></a> <a href="http://instagram.com/renovationgroupedin/" target="_blank" class="btn btn-social-icon btn-instagram btn-lg"><i class="fa fa-instagram"></i></a> <a href="https://www.linkedin.com/profile/view?id=395449189&trk=nav_responsive_tab_profile" target="_blank" class="btn btn-social-icon btn-linkedin btn-lg"><i class="fa fa-linkedin"></i></a> <a href="https://twitter.com/renovationedin" target="_blank" class="btn btn-social-icon btn-twitter btn-lg"><i class="fa fa-twitter"></i></a> </div><div class="col-sm-12 col-md-4 mobile-info screen-info">07708989073 <br>renovationgroupedin@gmail.com<br><br><span id="cdSiteSeal1"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb7313f926818ef1fcb7cppdvby7mb7355e4ye797ac3521a815dbcf"></script></span></div></div></div><div class="row edinburgh-house-renovations"><div class="col-sm-12 col-md-3">House Renovation Edinburgh</div><div class="col-sm-12 col-md-3">Cheap House Renovations</div><div class="col-sm-12 col-md-3">Renovations in Edinburgh</div><div class="col-sm-12 col-md-3">Home Renovation Edinburgh</div></div></section></footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

 <script>
      (function() {

        var dlgtrigger = document.querySelector( '[data-dialog]' ),
          somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
          dlg = new DialogFx( somedialog );

        dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );

      })();
    </script>

<script type="text/javascript">
	$(function() {
    var slidey = $('.banner').unslider(data),
    data = slidey.data.dots();

});


	 var unslider = $('.banner').unslider({
	 	speed: 900,
	 	delay: 4500
	 });
    
    $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        
        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        unslider.data('unslider')[fn]();
    });
</script>
<% end %>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58616706-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
